* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    padding-top: 100px;
}
section {
    width: 800px;
    text-align: center;
    margin: 0 auto;
    border: 3px solid black;
    padding: 60px 0;
    border-radius: 20px;    
}
.firstNumber, .secondNumber {
    width: 600px;
    height: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
}
.btn_container {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin: 0 auto;
}
button {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover {
    background-color: rgb(170, 169, 169);
}
h2 {
    margin: 0 auto;
    text-align: center;
    width: 800px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px 0;
}